@font-face {
  font-family: ''
  src: url('/fonts/.ttf')
}

* {
  font-family: ;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto
  max-width: 1030px
  width: 90%
}

@media (max-width: 730px) {

}